// 
// TimeCapsule V3
// by KryKom 2024
//

// import files
@use 'util/colors';
@use 'util/center';

// import fonts 
// TODO: update to jetbrains sans when released
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Slab:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

// ---- STYLE ----

* {
    // font-family: "JetBrains Mono", monospace;
    font-family: "Space Grotesk", sans-serif;
}

body {
    background: colors.$gray-1;
}

header {
    display: flex;
    margin: 0 20px 20px;
    border-bottom: 1px solid colors.$gray-3;
    
    p {
        font-size: x-large;
        margin-right: 20px;
        text-transform: uppercase;
        color: colors.$red-1;
        font-weight: 900;
    }
}

#home {
    margin: 0 20px 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid colors.$gray-3;

    h1 {
        color: colors.$red-1;
        font-size: 170%;
    }

    p {
        color: colors.$gray-10;
        font-size: 90%;
    }
}

#legacy {
    margin: 0 20px 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid colors.$gray-3;

    h1 {
        color: colors.$orange-1;
        font-size: 170%;
    }

    p {
        color: colors.$gray-10;
        font-size: 90%;
        margin-bottom: 20px;

        strong {
            color: colors.$orange-5;
        }
    }
}

#photos {
    margin: 0 20px 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid colors.$gray-3;

    h1 {
        color: colors.$yellow-3;
        font-size: 170%;
    }

    img {
        width: 100%;
        border-radius: 10px;
    }

    p {
        font-size: small;
        color: colors.$gray-10;
        margin-bottom: 30px;
        margin-top: 5px;
    }
}

#about {
    margin: 0 20px 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid colors.$gray-3;

    h1 {
        color: colors.$green-3;
        font-size: 170%;
    }

    p {
        color: colors.$gray-10;
        font-size: 90%;
    }

    a {
        text-decoration: 1px solid underline;
        color: colors.$green-5;
    }

    h3 {
        color: colors.$gray-12;
    }
}

#contact {
    margin: 0 20px 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid colors.$gray-3;
    
    h1 {
        color: colors.$blue-3;
        font-size: 170%;
    }

    p {
        color: colors.$gray-10;
        font-size: 90%;
    }
}

footer {
    margin: 0 20px 20px;

    p {
        color: colors.$gray-7;
        font-size: smaller;
    }
}