@page
@using TimeCapsuleV3._1.Models
@using System.Reflection.Metadata
@using System.Text.Encodings.Web
@using System.Xml
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css"/>

<div class="body">

    <h1 style="display: flex; justify-content: center;">Ahoj!</h1>
    <p>abys mohl / mohla pokračovat, zadej heslo:</p>

    <div id="input">
        <form id="form" runat="server">
            <p>Heslo: <input id="password" name="password" type="text"/></p>
            <a id="submit" onclick='check("password")'>
                <p>Odeslat</p></a>
        </form>
    </div>

    <p id="foot">jestli neznáš heslo tak vypadni</p>

    <script src="js/site.js"></script>
    
</div>

