@page
@using TimeCapsuleV3._1.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css"/>

<div class="body">
    <h1 style="display: flex; justify-content: center;">Ahoj!</h1>
    <p>z důvodu neschopnosti programátorů si vyber:</p>
    <div id="buttons">
        <a asp-area="" asp-page="/Mobile" id="mobile"><p>Jsem na mobilu</p></a>
        <a asp-area="" asp-page="/Home" id="pc"><p>Jsem na PC</p></a>
    </div>
    <p id="foot">a i když u sebe nemáte druhý typ zařízení, stojí za to se podívat i na druhou verzi stránky</p>
</div>